DB_URL_AUTH=postgresql://postgres:PASSWORD@host:PORT/railway
DB_URL_PERIODOS=postgresql://postgres:PASSWORD@host:PORT/railway
DB_URL_DOCENTES=postgresql://postgres:PASSWORD@host:PORT/railway
DB_URL_CALIFICACIONES=postgresql://postgres:PASSWORD@host:PORT/railway
DB_URL_ASISTENCIAS=postgresql://postgres:PASSWORD@host:PORT/railway
DB_URL_NOTIFICACIONES=postgresql://postgres:PASSWORD@host:PORT/railway
DB_URL_REPORTES=postgresql://postgres:PASSWORD@host:PORT/railway
